.card{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card__title{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 110%;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    text-align: center;
}

.title__acsent{
    display: block;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; 
    letter-spacing: -0.6px;
    text-transform: uppercase;
}

.card__description{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}

.amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price span:nth-child(1){
    color: #7A7A7A;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}
.price span:nth-child(2){
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}

.amount span:nth-child(1){
    color: #7A7A7A;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}
.amount span:nth-child(2){
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}